

.mole-img{
    animation: mole-anime 150ms ease-out forwards;
    z-index:10;
    left:25%;
    bottom:10%;
    position: absolute;
    height:120%;
    width:50%;
    animation: mole-anime 150ms ease-out forwards;
    border-radius:0 0 20px 20px;
    object-fit:fill;
}

@keyframes mole-anime {
    from{
        transform: translateY(0rem);
    }

    to{
        transform: translateY(-1rem);
    }
}

@media only screen and (min-width: 1024px){
    .mole-img{
        bottom:25%;
        border-radius:40px;
    }
 }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mole-img{
        bottom:20%;
        border-radius: 30px;
    }
 }

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .mole-img{
        bottom:20%;
        border-radius: 20px;
    }
    
}

@media only screen and  (min-width:370px) and (max-width: 480px) {
    
}

@media only screen and (min-width: 280px) and (max-width: 369px) {
   
}

