<div class="digs-wrapper">
  <div class="row">
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="1"></app-hole>
    </div>
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="2"></app-hole>
    </div>
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="3"></app-hole>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="4"></app-hole>
    </div>
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="5"></app-hole>
    </div>
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="6"></app-hole>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="7"></app-hole>
    </div>
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="8"></app-hole>
    </div>
    <div class="col-xs-4 dig-mole-container">
      <app-hole [holeID]="9"></app-hole>
    </div>
  </div>
</div>

