<div class="container-fluid">
    <div class="wrapper">
      <div class="row">
        <div class="col-xs-12">
          <div class="play-title">
            Whack-A-Mole
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="play-btn">
            <button (click)="playGame()" class="btn btn-success btn-lg">Play</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="rules-container">
            <ul>
              <li>Rule 1</li>
              <li>Rule 2</li>
              <li>Rule 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
